*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/


  #header-nav {
    background-color: rgb(175, 174, 174);
    border-radius: 0;
    border: 0;
  }
  
  .navbar .navbar-default{
    height: 100px;
  }
  .navbar-brand {
    padding-top: 25px;
    padding-left: 50px;
  }
  
  .navbar-brand h1 { 
    color: black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  .navbar-nav{
    margin: 0px -15px 0px -15px;
  }

  #nav-list a {
    color: black;
    text-align: center;
    background-color: white;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  ul li{
    border: 1px solid black;
    }
  /* END HEADER */

  /*Main Content*/
  .text-center{
    color: black;
    font-size: 2.0em;
  }



  .block{
    margin: 30px auto;
    width: 90%;
    height: auto;
    background-color: rgb(172, 171, 171);
    border: 1px solid black;
  }

  div>p{
    padding: 20px;
  }

  @media (min-width: 768px){
    ul{
      display: none;
    }
    .container {
      width: 1500px;
    }
    #header-nav{
      height: 60px;
    }
    .container {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: 0px;
    }
}
